$font-primary-regular: 'playfair-display-regular';
$font-primary-medium: 'playfair-display-medium';
$font-primary-bold: 'playfair-display-bold';
$font-secondary-regular: 'karla-regular';
$font-secondary-medium: 'karla-medium';
$font-secondary-bold: 'karla-bold';

$font-size-h1: 10rem;
$font-size-h2: 9.6rem;
$font-size-h3: 4.8rem;
$font-size-h4: 3rem;
$font-size-base: 2rem;
$font-size-low: 1.5rem;
$font-size-mid: 1.7rem;





